In [1]:
import numpy as np
import pandas as pd

import matplotlib
matplotlib.rcParams['backend'] = 'SVG'
import matplotlib.pyplot as plt

Brown

In [2]:
df_rr = pd.read_csv("./file/4_11/rr.csv", sep=",")
df_rr = df_rr.drop(['Unnamed: 15'], axis=1)

df_CR_rr = df_rr.loc[df_rr['dcName'] == 'DC_CR'].reset_index()
df_OS_rr = df_rr.loc[df_rr['dcName'] == 'DC_OS'].reset_index()
df_SH_rr = df_rr.loc[df_rr['dcName'] == 'DC_SH'].reset_index()
df_MB_rr = df_rr.loc[df_rr['dcName'] == 'DC_MB'].reset_index()
df_LA_rr = df_rr.loc[df_rr['dcName'] == 'DC_LA'].reset_index()

df_DcPrice_rr = pd.DataFrame({'CR':df_CR_rr['dcPrice'], 'MB':df_MB_rr['dcPrice'], 'OS':df_OS_rr['dcPrice'], 'SH':df_SH_rr['dcPrice'], 'LA':df_LA_rr['dcPrice']})
df_rr = df_DcPrice_rr.mean(1)
df_rr = pd.DataFrame(df_rr)
df_rr = df_rr.rename(columns = {0:'RR'})

In [3]:
df_ne = pd.read_csv("./file/4_11/ne.csv", sep=",")
df_ne = df_ne.drop(['Unnamed: 15'], axis=1)

df_CR_ne = df_ne.loc[df_ne['dcName'] == 'DC_CR'].reset_index()
df_OS_ne = df_ne.loc[df_ne['dcName'] == 'DC_OS'].reset_index()
df_SH_ne = df_ne.loc[df_ne['dcName'] == 'DC_SH'].reset_index()
df_MB_ne = df_ne.loc[df_ne['dcName'] == 'DC_MB'].reset_index()
df_LA_ne = df_ne.loc[df_ne['dcName'] == 'DC_LA'].reset_index()

df_DcPrice_ne = pd.DataFrame({'CR':df_CR_ne['dcPrice'], 'MB':df_MB_ne['dcPrice'], 'OS':df_OS_ne['dcPrice'], 'SH':df_SH_ne['dcPrice'], 'LA':df_LA_ne['dcPrice']})
df_ne = df_DcPrice_ne.mean(1)
df_ne = pd.DataFrame(df_ne)
df_ne = df_ne.rename(columns = {0:'NE'})

In [4]:
df_ca = pd.read_csv("./file/4_11/ca.csv", sep=",")
df_ca = df_ca.drop(['Unnamed: 15'], axis=1)

df_CR_ca = df_ca.loc[df_ca['dcName'] == 'DC_CR'].reset_index()
df_OS_ca = df_ca.loc[df_ca['dcName'] == 'DC_OS'].reset_index()
df_SH_ca = df_ca.loc[df_ca['dcName'] == 'DC_SH'].reset_index()
df_MB_ca = df_ca.loc[df_ca['dcName'] == 'DC_MB'].reset_index()
df_LA_ca = df_ca.loc[df_ca['dcName'] == 'DC_LA'].reset_index()

df_DcPrice_ca = pd.DataFrame({'CR':df_CR_ca['dcPrice'], 'MB':df_MB_ca['dcPrice'], 'OS':df_OS_ca['dcPrice'], 'SH':df_SH_ca['dcPrice'], 'LA':df_LA_ca['dcPrice']})
df_ca = df_DcPrice_ca.mean(1)
df_ca = pd.DataFrame(df_ca)
df_ca = df_ca.rename(columns = {0:'CA'})

In [5]:
df_mp = pd.read_csv("./file/4_11/mp.csv", sep=",")
df_mp = df_mp.drop(['Unnamed: 15'], axis=1)

df_CR_mp = df_mp.loc[df_mp['dcName'] == 'DC_CR'].reset_index()
df_OS_mp = df_mp.loc[df_mp['dcName'] == 'DC_OS'].reset_index()
df_SH_mp = df_mp.loc[df_mp['dcName'] == 'DC_SH'].reset_index()
df_MB_mp = df_mp.loc[df_mp['dcName'] == 'DC_MB'].reset_index()
df_LA_mp = df_mp.loc[df_mp['dcName'] == 'DC_LA'].reset_index()

df_DcPrice_mp = pd.DataFrame({'CR':df_CR_mp['dcPrice'], 'MB':df_MB_mp['dcPrice'], 'OS':df_OS_mp['dcPrice'], 'SH':df_SH_mp['dcPrice'], 'LA':df_LA_mp['dcPrice']})
df_mp = df_DcPrice_mp.mean(1)
df_mp = pd.DataFrame(df_mp)
df_mp = df_mp.rename(columns = {0:'MP'})

In [6]:
df_mg = pd.read_csv("./file/4_11/mg.csv", sep=",")
df_mg = df_mg.drop(['Unnamed: 15'], axis=1)

df_CR_mg = df_mg.loc[df_mg['dcName'] == 'DC_CR'].reset_index()
df_OS_mg = df_mg.loc[df_mg['dcName'] == 'DC_OS'].reset_index()
df_SH_mg = df_mg.loc[df_mg['dcName'] == 'DC_SH'].reset_index()
df_MB_mg = df_mg.loc[df_mg['dcName'] == 'DC_MB'].reset_index()
df_LA_mg = df_mg.loc[df_mg['dcName'] == 'DC_LA'].reset_index()

df_DcPrice_mg = pd.DataFrame({'CR':df_CR_mg['dcPrice'], 'MB':df_MB_mg['dcPrice'], 'OS':df_OS_mg['dcPrice'], 'SH':df_SH_mg['dcPrice'], 'LA':df_LA_mg['dcPrice']})
df_mg = df_DcPrice_mg.mean(1)
df_mg = pd.DataFrame(df_mg)
df_mg = df_mg.rename(columns = {0:'MG'})

In [7]:
df_mc = pd.read_csv("./file/4_11/mc.csv", sep=",")
df_mc = df_mc.drop(['Unnamed: 15'], axis=1)

df_CR_mc = df_mc.loc[df_mc['dcName'] == 'DC_CR'].reset_index()
df_OS_mc = df_mc.loc[df_mc['dcName'] == 'DC_OS'].reset_index()
df_SH_mc = df_mc.loc[df_mc['dcName'] == 'DC_SH'].reset_index()
df_MB_mc = df_mc.loc[df_mc['dcName'] == 'DC_MB'].reset_index()
df_LA_mc = df_mc.loc[df_mc['dcName'] == 'DC_LA'].reset_index()

df_DcPrice_mc = pd.DataFrame({'CR':df_CR_mc['dcPrice'], 'MB':df_MB_mc['dcPrice'], 'OS':df_OS_mc['dcPrice'], 'SH':df_SH_mc['dcPrice'], 'LA':df_LA_mc['dcPrice']})
df_mc = df_DcPrice_mc.mean(1)
df_mc = pd.DataFrame(df_mc)
df_mc = df_mc.rename(columns = {0:'MC'})

In [8]:
df_all_b = pd.concat([df_rr, df_ne, df_ca, df_mp, df_mg, df_mc], axis=1)
df_all_b

          RR      NE      CA      MP      MG      MC
0     4.1470  3.4922  4.1108  4.0500  4.0908  4.0884
1     4.0836  3.5178  4.1396  1.8076  3.2506  3.5098
2     4.0724  3.4794  4.1644  3.4682  3.2482  3.4692
3     4.0662  3.5174  4.1338  3.5848  3.2850  3.5492
4     4.1614  3.4574  4.1512  3.7232  3.2606  3.5516
...      ...     ...     ...     ...     ...     ...
1004  2.3286  1.9156  2.3256  1.8660  1.8254  1.0824
1005  2.3566  1.7998  2.3732  1.8426  1.8058  1.0624
1006  2.3456  1.8098  2.2842  2.3186  1.8330  1.0808
1007  2.3420  1.8804  2.3408  1.4992  1.7342  1.0956
1008  2.1892  1.8654  2.2568  1.1842  1.9860  1.4518

[1009 rows x 6 columns]

In [9]:
df_all_b.boxplot(figsize= (10, 5))
plt.savefig("../pic/4_13/svg/brownCost.svg", format='svg')

RE

In [10]:
names = ['CR', 'OS', 'MB', 'SH', 'LA']

In [11]:
df_rr = pd.read_csv("./file/4_11/rr.csv", sep=",")
df_rr = df_rr.drop(['Unnamed: 15'], axis=1)

df_CR_rr = df_rr.loc[df_rr['dcName'] == 'DC_CR'].reset_index()
df_OS_rr = df_rr.loc[df_rr['dcName'] == 'DC_OS'].reset_index()
df_SH_rr = df_rr.loc[df_rr['dcName'] == 'DC_SH'].reset_index()
df_MB_rr = df_rr.loc[df_rr['dcName'] == 'DC_MB'].reset_index()
df_LA_rr = df_rr.loc[df_rr['dcName'] == 'DC_LA'].reset_index()

df_RePrice_rr = pd.DataFrame({'CR':df_CR_rr['rePrice'], 'OS':df_OS_rr['rePrice'], 'MB':df_MB_rr['rePrice'], 'SH':df_SH_rr['rePrice'], 'LA':df_LA_rr['rePrice']})
df_ReDcUsage_rr = pd.DataFrame({'CR':df_CR_rr['reDcUsage'], 'OS':df_OS_rr['reDcUsage'], 'MB':df_MB_rr['reDcUsage'], 'SH':df_SH_rr['reDcUsage'], 'LA':df_LA_rr['reDcUsage']})

for name in names:
    for i in range(len(df_RePrice_rr[name])):
        df_RePrice_rr[name][i] = df_RePrice_rr[name][i] * df_ReDcUsage_rr[name][i]

df_RePrice_rr = df_RePrice_rr / 100

df_rr = df_RePrice_rr.mean(1)
df_rr = pd.DataFrame(df_rr)
df_rr = df_rr.rename(columns = {0:'RR'})

In [12]:
df_ne = pd.read_csv("./file/4_11/ne.csv", sep=",")
df_ne = df_ne.drop(['Unnamed: 15'], axis=1)

df_CR_ne = df_ne.loc[df_ne['dcName'] == 'DC_CR'].reset_index()
df_OS_ne = df_ne.loc[df_ne['dcName'] == 'DC_OS'].reset_index()
df_SH_ne = df_ne.loc[df_ne['dcName'] == 'DC_SH'].reset_index()
df_MB_ne = df_ne.loc[df_ne['dcName'] == 'DC_MB'].reset_index()
df_LA_ne = df_ne.loc[df_ne['dcName'] == 'DC_LA'].reset_index()

df_RePrice_ne = pd.DataFrame({'CR':df_CR_ne['rePrice'], 'OS':df_OS_ne['rePrice'], 'MB':df_MB_ne['rePrice'], 'SH':df_SH_ne['rePrice'], 'LA':df_LA_ne['rePrice']})
df_ReDcUsage_ne = pd.DataFrame({'CR':df_CR_ne['reDcUsage'], 'OS':df_OS_ne['reDcUsage'], 'MB':df_MB_ne['reDcUsage'], 'SH':df_SH_ne['reDcUsage'], 'LA':df_LA_ne['reDcUsage']})

for name in names:
    for i in range(len(df_RePrice_ne[name])):
        df_RePrice_ne[name][i] = df_RePrice_ne[name][i] * df_ReDcUsage_ne[name][i]

df_RePrice_ne = df_RePrice_ne / 100

df_ne = df_RePrice_ne.mean(1)
df_ne = pd.DataFrame(df_ne)
df_ne = df_ne.rename(columns = {0:'NE'})

In [13]:
df_ca = pd.read_csv("./file/4_11/ca.csv", sep=",")
df_ca = df_ca.drop(['Unnamed: 15'], axis=1)

df_CR_ca = df_ca.loc[df_ca['dcName'] == 'DC_CR'].reset_index()
df_OS_ca = df_ca.loc[df_ca['dcName'] == 'DC_OS'].reset_index()
df_SH_ca = df_ca.loc[df_ca['dcName'] == 'DC_SH'].reset_index()
df_MB_ca = df_ca.loc[df_ca['dcName'] == 'DC_MB'].reset_index()
df_LA_ca = df_ca.loc[df_ca['dcName'] == 'DC_LA'].reset_index()

df_RePrice_ca = pd.DataFrame({'CR':df_CR_ca['rePrice'], 'OS':df_OS_ca['rePrice'], 'MB':df_MB_ca['rePrice'], 'SH':df_SH_ca['rePrice'], 'LA':df_LA_ca['rePrice']})
df_ReDcUsage_ca = pd.DataFrame({'CR':df_CR_ca['reDcUsage'], 'OS':df_OS_ca['reDcUsage'], 'MB':df_MB_ca['reDcUsage'], 'SH':df_SH_ca['reDcUsage'], 'LA':df_LA_ca['reDcUsage']})

for name in names:
    for i in range(len(df_RePrice_ca[name])):
        df_RePrice_ca[name][i] = df_RePrice_ca[name][i] * df_ReDcUsage_ca[name][i]

df_RePrice_ca = df_RePrice_ca / 100

df_ca = df_RePrice_ca.mean(1)
df_ca = pd.DataFrame(df_ca)
df_ca = df_ca.rename(columns = {0:'CA'})

In [14]:
df_mp = pd.read_csv("./file/4_11/mp.csv", sep=",")
df_mp = df_mp.drop(['Unnamed: 15'], axis=1)

df_CR_mp = df_mp.loc[df_mp['dcName'] == 'DC_CR'].reset_index()
df_OS_mp = df_mp.loc[df_mp['dcName'] == 'DC_OS'].reset_index()
df_SH_mp = df_mp.loc[df_mp['dcName'] == 'DC_SH'].reset_index()
df_MB_mp = df_mp.loc[df_mp['dcName'] == 'DC_MB'].reset_index()
df_LA_mp = df_mp.loc[df_mp['dcName'] == 'DC_LA'].reset_index()

df_RePrice_mp = pd.DataFrame({'CR':df_CR_mp['rePrice'], 'OS':df_OS_mp['rePrice'], 'MB':df_MB_mp['rePrice'], 'SH':df_SH_mp['rePrice'], 'LA':df_LA_mp['rePrice']})
df_ReDcUsage_mp = pd.DataFrame({'CR':df_CR_mp['reDcUsage'], 'OS':df_OS_mp['reDcUsage'], 'MB':df_MB_mp['reDcUsage'], 'SH':df_SH_mp['reDcUsage'], 'LA':df_LA_mp['reDcUsage']})

for name in names:
    for i in range(len(df_RePrice_mp[name])):
        df_RePrice_mp[name][i] = df_RePrice_mp[name][i] * df_ReDcUsage_mp[name][i]

df_RePrice_mp = df_RePrice_mp / 100

df_mp = df_RePrice_mp.mean(1)
df_mp = pd.DataFrame(df_mp)
df_mp = df_mp.rename(columns = {0:'MP'})

In [15]:
df_mg = pd.read_csv("./file/4_11/mg.csv", sep=",")
df_mg = df_mg.drop(['Unnamed: 15'], axis=1)

df_CR_mg = df_mg.loc[df_mg['dcName'] == 'DC_CR'].reset_index()
df_OS_mg = df_mg.loc[df_mg['dcName'] == 'DC_OS'].reset_index()
df_SH_mg = df_mg.loc[df_mg['dcName'] == 'DC_SH'].reset_index()
df_MB_mg = df_mg.loc[df_mg['dcName'] == 'DC_MB'].reset_index()
df_LA_mg = df_mg.loc[df_mg['dcName'] == 'DC_LA'].reset_index()

df_RePrice_mg = pd.DataFrame({'CR':df_CR_mg['rePrice'], 'OS':df_OS_mg['rePrice'], 'MB':df_MB_mg['rePrice'], 'SH':df_SH_mg['rePrice'], 'LA':df_LA_mg['rePrice']})
df_ReDcUsage_mg = pd.DataFrame({'CR':df_CR_mg['reDcUsage'], 'OS':df_OS_mg['reDcUsage'], 'MB':df_MB_mg['reDcUsage'], 'SH':df_SH_mg['reDcUsage'], 'LA':df_LA_mg['reDcUsage']})

for name in names:
    for i in range(len(df_RePrice_mg[name])):
        df_RePrice_mg[name][i] = df_RePrice_mg[name][i] * df_ReDcUsage_mg[name][i]

df_RePrice_mg = df_RePrice_mg / 100

df_mg = df_RePrice_mg.mean(1)
df_mg = pd.DataFrame(df_mg)
df_mg = df_mg.rename(columns = {0:'MG'})

In [16]:
df_mc = pd.read_csv("./file/4_11/mc.csv", sep=",")
df_mc = df_mc.drop(['Unnamed: 15'], axis=1)

df_CR_mc = df_mc.loc[df_mc['dcName'] == 'DC_CR'].reset_index()
df_OS_mc = df_mc.loc[df_mc['dcName'] == 'DC_OS'].reset_index()
df_SH_mc = df_mc.loc[df_mc['dcName'] == 'DC_SH'].reset_index()
df_MB_mc = df_mc.loc[df_mc['dcName'] == 'DC_MB'].reset_index()
df_LA_mc = df_mc.loc[df_mc['dcName'] == 'DC_LA'].reset_index()

df_RePrice_mc = pd.DataFrame({'CR':df_CR_mc['rePrice'], 'OS':df_OS_mc['rePrice'], 'MB':df_MB_mc['rePrice'], 'SH':df_SH_mc['rePrice'], 'LA':df_LA_mc['rePrice']})
df_ReDcUsage_mc = pd.DataFrame({'CR':df_CR_mc['reDcUsage'], 'OS':df_OS_mc['reDcUsage'], 'MB':df_MB_mc['reDcUsage'], 'SH':df_SH_mc['reDcUsage'], 'LA':df_LA_mc['reDcUsage']})

for name in names:
    for i in range(len(df_RePrice_mc[name])):
        df_RePrice_mc[name][i] = df_RePrice_mc[name][i] * df_ReDcUsage_mc[name][i]

df_RePrice_mc = df_RePrice_mc / 100

df_mc = df_RePrice_mc.mean(1)
df_mc = pd.DataFrame(df_mc)
df_mc = df_mc.rename(columns = {0:'MC'})

In [17]:
df_all_r = pd.concat([df_rr, df_ne, df_ca, df_mp, df_mg, df_mc], axis=1)
df_all_r

              RR          NE          CA          MP          MG         MC
0      37.759610   37.381203   38.105293   38.160037   38.048474  37.004854
1      36.966022   37.511110   35.601461   38.724318   38.163718  38.102144
2      38.480902   36.369175   36.875883   36.166342   38.872578  37.140726
3      38.357864   35.527839   37.905265   36.168922   36.188830  37.227137
4      36.383784   37.294420   35.871604   36.846314   38.714898  37.308155
...          ...         ...         ...         ...         ...        ...
1004  119.106698  102.307479  118.741260   77.638648  128.752905  69.627883
1005  119.483095  101.996868  119.687030  127.657424  128.367062  69.165266
1006  118.523842  103.041183  119.946609  128.182700  128.464304  68.681173
1007  118.678325  102.553081  119.788390   77.116001  128.022354  69.317932
1008  107.725222  101.812877  107.621320   67.155940  122.163645  67.525778

[1009 rows x 6 columns]

In [18]:
plt.figure(figsize= (10, 5))
df_all_r.boxplot(figsize= (10, 5))
plt.savefig("../pic/4_13/svg/reCost.svg", format='svg')